@import 'styles/base';

.models {
	position: relative;
	margin-top: 6.4rem;

	&::before {
		content: '';

		position: absolute;
		top: -5rem;
		left: 0;
		width: 100%;
		height: 1px;

		background-color: #e5e5e5;
	}

	& > header {
		margin-bottom: 2.2rem;

		p {
			font-size: 2.4rem;
			font-weight: 600;
			color: $primary;
			letter-spacing: 0.2px;

			@include centered-flex(2rem);

			span {
				color: #686868;
			}
		}
	}
}
