@import 'styles/base';

.featured {
	& > header {
		@include centered-flex(2rem);

		h3 {
			font-size: 2.2rem;
			font-weight: 600;
			letter-spacing: 0.2px;
			color: $primary;
		}

		svg {
			width: 3rem;
			height: 3rem;
		}
	}

	& > .items {
		margin-top: 2.6rem;
	}
}
