html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html::-webkit-scrollbar {
	display: none;
}

body {
	min-height: 100vh;

	font-family: $font;
	font-size: 1.6rem;
	color: $text;

	background: $bg;
}

button {
	font: inherit;
	border: none;
	outline: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
textarea {
	font: inherit;
	border: none;
	outline: none;
}

.container {
	max-width: 120rem;
	margin-inline: auto;
	padding: 12.8rem 2.4rem 15rem 2.4rem;
}

.loader {
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		width: 5rem;
		height: 5rem;
		fill: $primary;
		animation: rotate 2s infinite linear;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}
